spring:
  application:
    name: project

  datasource:
    url: jdbc:postgresql://localhost:5432/project
    username: project
    password: project

  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true

logging:
  level:
    root: INFO
    org.springframework: INFO
    naumen.java.project: INFO